.searchContainer {
  display: flex;
  align-items: center;
  border: 2px solid rgba(255, 0, 0, 0.349);
  border-radius: 5px;
  padding: 5px;
  width: 250px;
  background: transparent;
}

.searchInput {
  color: aliceblue;
  flex: 1;
  border: none;
  outline: none;
  padding: 8px;
  font-size: 14px;
  background: transparent;
}

.searchBtn {
  color: #969696  ;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 3px;
  transition: background 0.3s;
  background: transparent;
}

.searchBtn:hover {
  background: rgba(254, 0, 0, 0.4);
}

